doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="/bower/jquery/dist/jquery.min.js")
  body
    include includes/header
    block content

    script(src="/bower/bootstrap/dist/js/bootstrap.min.js")