body {
	padding-bottom: 150px
}

.form {
  width: 500px
  margin: auto
}

.resume-modal h2{
	font-size: 1.4em !important
}
.resume-modal h3{
	font-size: 1.3em !important
}
.resume-modal h4{
	font-size: 1.2em !important
}
